{#{{ app.html.dropDownList('<?php echo $entityName; ?>[status]', app.request.get('<?php echo $entityName; ?>').status|default(entity.status), entity.statusAlias(true), {'class':'form-control', 'prompt': '请选择'}) }}#}

<input type="hidden" name="_token" value="{{ csrf_token()}}">

<?php foreach ($attributesNoId as $key=>$value){ ?>
<div class="form-group">
    <label class="col-sm-2 control-label" for="input-<?php echo $key; ?>">{{ entity.labels().<?php echo $key; ?> }}</label>
    <div class="col-sm-8">
        <?php if($attributesSqlType[$key] == 'text') {?>
        <textarea cols="30" rows="5" name="<?php echo $entityName; ?>[<?php echo $key; ?>]" class="form-control" id="input-<?php echo $key; ?>" >{{ app.request.get('<?php echo $entityName; ?>').<?php echo $key; ?>|default(entity.<?php echo $key; ?>) }}</textarea>
        <?php } else { ?>
        <input type="text" name="<?php echo $entityName; ?>[<?php echo $key; ?>]" class="form-control"
               value="{{ app.request.get('<?php echo $entityName; ?>').<?php echo $key; ?>|default(entity.<?php echo $key; ?>) }}" id="input-<?php echo $key; ?>" >
        <?php } ?>
        <span class="help-block">{# 帮助信息 #}</span>
    </div>
</div>

<?php } ?>